In [ ]:
list=[1,2,3,4]
for i in list:
  print(i**2)

1
4
9
16

In [ ]:
list=[1,2,3,4]
list1=[]
for i in list:
  list1.append(i**2)

print(list1)

[1, 4, 9, 16]

In [ ]:
#convert the entire code into list comprehensions
#nOte: list comprehesion can be applied only when you want the output to be a list
[i for i in list]

[1, 2, 3, 4]

In [ ]:
[i**2 for i in list]

[1, 4, 9, 16]

In [ ]:
#sum of even numbers inside a collection

list=[1,2,3,4,5,6,7,8,9,10]
[i for i in list if i%2==0]

[2, 4, 6, 8, 10]

In [ ]:

list=[1,2,3,4,5,6,7,8,9,10]
[i for i in list if i%2!=0]

[1, 3, 5, 7, 9]

In [ ]:
my_string="stone"

[print(i) for i in my_string if i not in "aeiou"] #Print(i) is executed if the given character is not a vowel

s
t
n

[None, None, None]

In [ ]:
[print(i) for i in my_string if i in "aeiou"] #print(i) is executed if the given characher is a vowel

o
e

[None, None]

In [ ]:
k=[print(i) for i in my_string if i not in "aeiou"] # here K return none as
print(k)

s
t
n
[None, None, None]

In [ ]:
my_string="hello world"

k=[(i.upper(),len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

In [ ]:
[i**+1 for i in range(3)]    # i**+1 is evaluated as (i)**(+1)

[0, 1, 2]

In [ ]:
[i.lower() for i in "HELLO"]

['h', 'e', 'l', 'l', 'o']

In [ ]:
print([i.lower() for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']

In [ ]:
[i+j for i in "abc" for j in "def"]

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [ ]:
[if i%2==0: i; else:i+1; for i in range(4)] # This will be a syntax error as if should not come first

SyntaxError: ignored

In [ ]:
l=[1,2,3,4] #each of the numbers of the list, that is, 1, 2, 3, 4  are AND-ed with 1 and the result is printed in the form of a list. Hence the output is [1, 0, 1, 0].
[x&1 for x in l]

[1, 0, 1, 0]

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
[x*y for x in l1 for y in l2]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [ ]:
l=['tom','Smith','bob']
l.reverse()

In [ ]:
l

['bob', 'Smith', 'tom']

In [ ]:
[i[::-1] for i in l ]

['bob', 'htimS', 'mot']

In [ ]:
[i[::-1] for i in l ][::-1]

['mot', 'htimS', 'bob']

## TUPLE ##

In [ ]:
tuple([1,2,3,"Rahul"])

(1, 2, 3, 'Rahul')

In [ ]:
t=tuple([1,2,3,"Rahul"])
t[1]

2

In [ ]:
#We can change entire tuple but we cant chnage the elements inside it --Non Mutable or immutable

In [ ]:
t[1]="Drone"

TypeError: ignored

In [ ]:
t[2]=7

TypeError: ignored

In [ ]:
t.index()
t.count()
#Tuple is used when when immutability is necessary. Like in places where assignments is not possible after first assignments

##Sets##

In [ ]:
#collection of unique elements
set((1,2,34)) # converting tuple to set type

{1, 2, 34}

In [ ]:
set([1,2,3,4]) #converting list to tuple

{1, 2, 3, 4}

In [ ]:
type(set((1,2,34)))

set

In [ ]:
type(set([1,2,3,4]))

set

In [ ]:
{1,2,3,4} #direct desfination of set uisng flower braces

{1, 2, 3, 4}

In [ ]:
set([1,2,3,4,5,6,7,7,7,8,8,9,9,0,1,0]) #Set outputs always unique elements

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
x=set()

In [ ]:
x.add(3) # We add to sets with add() method

In [ ]:
x

{3}

In [ ]:
{1,2,3,4,5,6,7,7,7,8,8,9,9,0,1,0}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
type({}) #by default if we use a empty curly braces , then it will be dict

dict

In [ ]:
type({1}) # but if we specify atleast one value , it will be set

set

In [ ]:
x1={1,2,3,4,5}
x2={2,3,4,5,6,7}

In [ ]:
x1.add(6)
x1

{1, 2, 3, 4, 5, 6}

In [ ]:
x1.union(x2) #contains both the variables' elements

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
x1.intersection(x2) #intersection is the common of both variables

{2, 3, 4, 5, 6}

In [ ]:
x1.intersection_update(x2) # this will make the changes permament , will store the intersection output back in x1(first variable)
x1

{2, 3, 4, 5, 6}

In [ ]:
print(x1)
print(x2)

{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6, 7}

In [ ]:
x1.difference(x2) #here we are subtracting x1 from x2 so 7 will not be there

set()

In [ ]:
x2.difference(x1) #Remove x2 from x1

{7}

In [ ]:
x2.difference_update ## This will be permanent

In [ ]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
x1.issubset(x2) #check if x1 is present in x2

True

In [ ]:
x1={3,4,5,9}
x2={1,2,3,4,5,6,7}
x1.issubset(x2)

False

In [ ]:
x2[2:] #set is not traversible or indexible. If you want to traverse in a set then u need to convert into List

TypeError: ignored

In [ ]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
x1.issuperset(x2)

False

In [ ]:
x1={3,4,5}
x2={3,4,5}
x1.issuperset(x2)

True

##Dictionary##

In [ ]:
type({1})

set

In [ ]:
type({})

dict

In [ ]:
type({1:'Age',2:'Name',3:'Weight'})

dict

In [ ]:
#indexing happens in dictionary using items()
d={1:'Age',2:'Name',3:'Weight'}
d.items()

dict_items([(1, 'Age'), (2, 'Name'), (3, 'Weight')])

In [ ]:
d.keys()

dict_keys([1, 2, 3])

In [ ]:
d.keys()[1] #we cant index  dictionary this way

TypeError: ignored

In [ ]:
d

{1: 'Age', 2: 'Name', 3: 'Weight'}

In [ ]:
d={1: 'Age', 2: 'Name', 3: 'Weight',1:'Rahul'} #If there are multiple keys assigned, then the laest value will be asssigned

In [ ]:
d

{1: 'Rahul', 2: 'Name', 3: 'Weight'}

In [ ]:
d.values()

dict_values(['Rahul', 'Name', 'Weight'])

In [ ]:
d[1] #indexing in Dictionary  is based on keys , here 0 , 1 2, 3 will not work

'Rahul'

In [ ]:
d[3]

'Weight'

In [1]:
my_dict={'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [2]:
my_dict['key1']

123

In [3]:
my_dict['key2']

[12, 23, 33]

In [4]:
my_dict['key3'][1]

'item1'

In [5]:
my_dict['key3'][1].upper()

'ITEM1'

In [6]:
my_dict['key3'][1].lower()

'item1'

In [7]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [8]:
d.keys()

dict_keys(['key1'])

In [10]:
d['key1']['nestkey']['subnestkey'] #keep calling the keys

'value'

##Dictionary Comprehensions##

In [11]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

##Functions##

In [13]:
#Greet People
print("hello World")
print("hello World")
print("hello World")
print("hello World")
print("hello World")
print("hello World")
print("hello World")

hello World
hello World
hello World
hello World
hello World
hello World
hello World

In [14]:
def greeting():
  print("hello World")

In [15]:
greeting()

hello World

In [16]:
#if you make changes , u can do only one place in the main function code
def greeting():
  print("hello World , how are you ")

In [17]:
greeting()

hello World , how are you

In [14]:
#def func_name(parameter1,parameter2,parameter3,...)
#Sum of all Even Numbers
def odd_even_sum(lst): #provide parametr as list
  even_sum=0
  odd_sum=0
  for i in lst:
    if i%2==0:
      even_sum=even_sum+i
    else:
      odd_sum=odd_sum+i
  print(f"even sum is {even_sum}")
  print(f"odd sum is {odd_sum}")

odd_even_sum([1,2,3,4,6])

even sum is 12
odd sum is 4

In [15]:
#Return means , the function is returning some output and we need to catch this output in a variable if we want to display explicitly
#Sum of all Even Numbers
def odd_even_sum(lst): #provide parametr as list
  even_sum=0
  odd_sum=0
  for i in lst:
    if i%2==0:
      even_sum=even_sum+i
    else:
      odd_sum=odd_sum+i
  
  return even_sum , odd_sum # return the values of the function

even_sum,odd_sum=odd_even_sum([1,2,3,4,6])

print(f"even sum is {even_sum}")
print(f"odd sum is {odd_sum}")

even sum is 12
odd sum is 4